<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>%d %C-[%M] -(%p) %msg%n</pattern>
			</PatternLayout>
		</Console>
		<File name="LogToFile" fileName="/app-indgo.log" append="true" filePermissions="777">
			<PatternLayout pattern="%d %C-[%M] -(%p) %msg%n" />
				
					<!-- <Pattern>%d %C-[%M] -(%p) %msg%n
					</Pattern> -->
				
			<!-- </PatternLayout> -->
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="LogToConsole" />
			<AppenderRef ref="LogToFile" />
		</Root>


	</Loggers>
</Configuration>